/*=========================НАВИГАЦИЯ============================*/
.nav {
    margin: 25px 0 0 73px;
    font: normal normal 16px/19px Roboto;
    color: #000000;
}

.nav a {
    padding: 0;
    color: #000;
    border-bottom: 2px solid transparent;
}

.nav a:hover,
.nav a:focus {
    transition: 0.4s;
    border-bottom: 2px solid #F2960B;
}

.nav li {
    margin-right: 23px;
}

/*============================Меню==============================*/

.pizza_menu {
    padding: 0 37px 0 10px;
}

.menu-container {
    padding: 0;
    margin: 30px 0 0 64px;
    max-width: 1280px;
}

.pizza_pic {
    width: 100%;
    height: auto;
}

.about_pizza {
    margin: 24px 0 0 4px;
}

.pizza_name {
    font: normal normal 22px/26px Roboto;
    color: #000000;
}

.pizza_description {
    font: normal normal 16px/19px Roboto;
    margin-bottom: 27px;
    height: 57px;
    overflow: auto;
}

.cost {
    font: normal normal 22px/26px Roboto;
}

.buying {
    float: right;
    padding: 8px 14px;
    margin-top: -9px;
    background: none;
    border: 2px solid #F2960B;
    border-radius: 10px;
    font: normal normal 18px/21px Roboto;
    align-items: center;
    text-align: center;
    color: #333333;
}

.buying:hover {
    transition: 0.4s;
    background-color: #F2960B;
    color: #fff;
}

/*========================Заказы==========================*/
.orders_page {
    margin-top: 37px;
}

.order_table {
    position: relative;
    left: -74px;
    font: 22px/26px Roboto;
    width: 110%;
}

.header {
    font: normal bold 22px/26px Roboto;
    color: #000000;
    background: rgba(236, 146, 12, 0.3);
}

th, td {
    padding: 9px;
}

.number {
    width: 132px;
    padding-left: 133px;
}

.name_order {
    width: 192px;
}

.price {
    width: 97px;
}

.client {
    width: 226px;
}

.address {
    width: 203px;
}

.status {
    width: 275px;
}

.status_select {
    border:none;
}

.status_select:focus {
    outline: none;
}

.this_user_order {
    background: orange;
    border: 1px solid;
}