/*============================HEADER============================*/
h1
{
	text-transform: uppercase;
	font: normal bold 24px/28px Arial;
	align-items: center;
	margin-left: 74px;
}
header
{
	margin-top: 34px;
}
button
{
	background: none;
    border: 2px solid #F2960B;
    border-radius: 10px;
	font: normal normal 18px/21px Roboto;
	align-items: center;
	text-align: center;
	color: #333333;
}
button:hover
{
	transition: 0.4s;
	background-color: #F2960B;
	color: #fff;
}
.registration
{
    padding: 8px 31px;
	margin: -18px 20px 0 0;
}
.login
{
	margin-top: -18px;
    padding: 8px 24px;
}
.authorization
{
	margin-right: 4%;
	margin-top: -10px;
}
/*=========================НАВИГАЦИЯ============================*/
.nav
{
	margin: 25px 0 0 73px;
	font: normal normal 16px/19px Roboto;
	color: #000000;
}
.nav a
{
	padding: 0;
	color: #000;
	border-bottom: 2px solid transparent;
}
.nav a:hover,
.nav a:focus
{
	transition: 0.4s;
	border-bottom: 2px solid #F2960B;
}
.nav li
{
	margin-right: 23px;
}

/*============================Меню==============================*/

.pizza_menu
{
	padding: 0 37px 0 10px;
}
.menu-container
{
	padding: 0;
	margin:  30px 0 0 64px;
    max-width: 1280px;
}
.pizza_pic
{
	width: 100%;
	height: auto;
}
.about_pizza
{
	margin: 24px 0 0 4px;
}
.pizza_name
{
	font: normal normal 22px/26px Roboto;
	color: #000000;
}
.pizza_description
{
	font: normal normal 16px/19px Roboto;
	margin-bottom: 27px;
	height: 57px;
	overflow: auto;
}
.cost
{
	font: normal normal 22px/26px Roboto;
}
.buying
{
	float: right;
    padding: 8px 14px;
    margin-top: -9px;
}
/*========================Заказы==========================*/
.orders_page
{
	margin-top: 37px;
}
.order_table
{
	position: relative;
	left: -74px;
	font: 22px/26px Roboto;
	width: 110%;
}
.header
{
	font: normal bold 22px/26px Roboto;
	color: #000000;
	background: rgba(236, 146, 12, 0.3);
}
th, td
{
	padding: 9px;
}
.number
{
	width: 132px;
	padding-left: 133px;
}
.name_order
{
	width: 192px;
}
.price
{
	width: 97px;
}
.client
{
	width: 139px;
}
.address
{
	width: 203px;
}
.status
{
	width: 376px;
}

/*===========================Регистрация==========================*/

.form
{
	width: 636px;
	height: 636px;
	margin: 76px auto;
    padding: 0 0 0 63px;
	border-radius: 20px;
	border: 1px solid #A7A7A7;
}
.text_input
{
	width: 500px;
	height: 60px;
	padding: 0 28px 0 28px;
	margin-bottom: 20px;
	font: normal normal 24px/28px Roboto;
	color: #333333;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid #A7A7A7;
	border-radius: 10px;
}
.text_input:focus,
.submit_button:focus
{
	padding: 0 27px;
	border: 2px solid #F2960B;
	outline: none;
}
.form_header
{
	text-align: center;
	font: normal normal 40px/47px Roboto;
	color: #000000;
}
.registration_header
{
	margin: 46px 0 52px -63px;
}
.login_header
{
	margin: 47px 0 103px -63px;
}
.submit_button
{
	width: 500px;
	height: 60px;
	margin-top: 29px;
	font: normal normal 24px/28px Roboto;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background: #F2960B;
	border: 1px solid #A7A7A7;
	border-radius: 10px;
}
