{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="css/login_registration.css">
  <script src="js/login_script.js" async></script>
{% endblock %}
{% block title %}Login{% endblock %}
{% block body %}
  <div class="container-fluid">
    {% include 'header.html.twig' with {'page': 'login'} %}
    <div class="form">
      <h3 class="form_header login_header">Вход</h3>
      <form action="{{ path('login') }}" method="POST" id='login_form'>
        <input type="email" name="_username" value="{{ thisUserEmail }}" class="text_input" placeholder="Почта" required/> <br/>
        <input type="password" name="_password" value="{{ thisUserPassword }}" class="text_input" placeholder="Пароль" required/> <br/>
        <input type="submit" value="Войти" class="submit_button"/>
      </form>
    </div>
  </div>
{% endblock %}
