{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block body %}
<div class="container-fluid">
  		<header>
  			<div class="row justify-content-between">
  				<div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3">
  					<h1>
		  				🍕Долго пицца
		  			</h1>
  				</div>
	  			<div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2">
	  				<div class="autorization">
	  					<button class="registration">Регистрация</button>
	  				</div>
	  			</div>	  			
	  		</div>
  		</header>
  		<div class="form">
  			<h3 class="form_header login_header">Вход</h3>
	  		<form action="" method="">
	  			<input type="email" name="email" value="" class="text_input" placeholder="Почта" required /> <br />
	  			<input type="password" name="password" value="" class="text_input" placeholder="Пароль" required /> <br />
	  			<input type="submit" value="Зарегистрироваться" class="submit_button" />
	  		</form>
	  	</div>
	  </div>
{% endblock %}
