<header>
  <div class="row justify-content-between">
    <h1>
      <a href="/menu">
      🍕Долго пицца
      </a>
    </h1>
    <div class="authorization">
      {% if page == 'menu' or page == 'login' %}
        <a href="/registration"><button class="registration">Регистрация</button></a>
      {% endif %}
      {% if page == 'menu' or page == 'registration' %}
        <a href="/login"><button class="login">Вход</button></a>
      {% endif %}
    </div>
  </div>
</header>