{% extends 'base.html.twig' %}
{% block title %}List of user{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="css/users_list.css">
{% endblock %}
{% block body %}
  <div class="container-fluid">
    {% include 'header.html.twig' with {'page': 'menu'} %}
    <h2 class="user_list_title"> Список зарегистрированных пользователей: </h2>
    <table class="users_table">
      <tr class="header">
        <th class="number">Номер</th>
        <th class="name_of_user">ФИО</th>
        <th class="mail">Почта</th>
        <th class="address">Адрес</th>
      </tr>
      {% for user in users %}
        <tr>
          <td class="number">#{{ user['number'] }}</td>
          <td class="name_of_user">{{ user['name'] }}</td>
          <td class="mail">{{ user['email'] }}</td>
          <td class="address">{{ user['address'] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
